@import url('https://fonts.googleapis.com/css?family=Anton');


html, body {
    background-color: skyblue;
    font-family:'Anton','sans-serif;';
}
.page-border{
    border: 1px solid gray;
}
/*.unordered-list {*/
/*list-style-type: none;*/
/*padding: 40px;*/
/*}*/

/*.list{*/
/*display: inline-flex;*/
/*}*/

/*#livemusicpic,.i{*/
/*width: 150px;*/
/*height: 150px;*/
/*}*/
/*#project-title{*/
/*padding-top: 30px;*/
/*margin-top: 30px;*/
/*padding-bottom: 30px;*/
/*margin-bottom: 30px;*/
/*}*/

/*#about-me{*/
/*margin-top: 50px;*/
/*border-top :1px solid black;*/

/*border-bottom: 1px solid black;*/
/*}*/
/*#body-content{*/
/*padding: 30px;*/
/*border: 1px solid gray;*/
/*}*/
/*.body-margin {*/
/*border: 1px solid gray;*/

/*padding: 60px;*/
/*}*/
/*.navBar{*/
/*margin-top: 40px;*/
/*margin-bottom: 40px;*/

/*}*/
/*a:hover{*/
/*text-decoration: none;*/
/*border-bottom: 2px solid black;*/
/*border-top: 2px solid black;  }*/
/*.p-title{*/
/*margin-top: 30px;*/
/*margin-bottom: 30px;*/
/*}*/
/*.project-content{*/
/*margin-top: 50px;*/
/*margin-bottom: 50px;*/
/*align-items: stretch}*/


/*#live-music-desc {*/
/*margin-top: 100px;*/
/*}*/
/*.foot{*/
/*border-top: 1px solid black;*/
/*}*/

@media (min-width: 576px) {
    .nav-link {
        display: inline-flex;
        color: red;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

}


@media (min-width: 992px) and (max-width: 1199px) {
    .p-title {
        font-size: 10px;
    }
}




@media (min-width: 1200px) {}




