@import url('https://fonts.googleapis.com/css?family=Anton');


html, body {
    background-color: peachpuff;
    font-family:'Anton','sans-serif;';
}
/*.page-border{*/
    /*border: 1px solid gray;*/
/*}*/
/*.unordered-list {*/
/*list-style-type: none;*/
/*padding: 40px;*/
/*}*/

.list{
display: inline-flex;
}

#livemusicpic{
width: 130px;
height: 130px;
}
.i{
    width: auto;
    height: auto;
}
#project-title{
padding-top: 30px;
margin-top: 30px;
padding-bottom: 30px;
margin-bottom: 30px;
}

#pgcnt{
margin-top: 50px;
}
#body-content{
/*padding: 30px;*/
border: 1px solid gray;
}
.body-margin {
border: 1px solid gray;

padding: 60px;
}
.navBar{
margin-top: 40px;
margin-bottom: 40px;

}
a:hover{
text-decoration: none;
border-bottom: 2px solid black;
border-top: 2px solid black;
}

.p-title{
margin-top: 30px;
margin-bottom: 30px;
}


.foot{
    margin-bottom: 60px;
}

.span-icon{
    margin-left: 20px;
    margin-bottom: 15px;
}
/*#skills{*/
    /*margin-top: 0px;*/
    /*padding-bottom:0;*/
/*}*/
/*.bullet{*/
    /*list-style-type:square;*/
    /*margin-bottom: 12px;*/
    /*margin-top: 30px;*/
/*}*/
#b{
    background-color: gray;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

}
#head{
    background-color: #31b0d5;
    border-bottom: 2px solid black;
    border-top: 2px solid black;  }










.bottom-links:hover{
    border: none;
}
@media (min-width: 576px) {
    .nav-link {
        display: inline-flex;
        color: red;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

}


@media (min-width: 992px) and (max-width: 1199px) {
    .p-title {
        font-size: 10px;
    }
    .r , #skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: lightgray;
    }

}




@media (min-width: 1200px) {}
@media(min-width:360px){
    #skills, .u, .d {
       margin-left: 0;
       padding-left: 0;
       padding-right: 0;
       margin-right:0;



    }
}

@media(min-width:320px){
    #skills, .u, .d {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        margin-right:0;



    }
}




