@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
    background-color: #33578a;
    font-family: 'Ubuntu', sans-serif;
}

/**{*/
/*border: 1px solid black;*/
/*}*/

/*.page-border{*/
/*border: 1px solid gray;*/
/*}*/
/*.unordered-list {*/
/*list-style-type: none;*/
/*padding: 40px;*/
/*}*/

.list {
    display: inline-flex;
}

#livemusicpic {
    width: 130px;
    height: 130px;
}

.i {
    width: auto;
    height: auto;
}

#project-title {
    padding-top: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#pgcnt {
    margin-top: 50px;
}

#body-content {
    /*padding: 30px;*/
    border: 1px solid gray;
}

.body-margin {
    border: 1px solid gray;

    padding: 60px;
}

.navBar {
    margin-top: 40px;
    margin-bottom: 40px;

}

a:hover {
    text-decoration: none;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.p-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.foot {
    margin-bottom: 60px;
}

.span-icon {
    margin-left: 20px;
    margin-bottom: 15px;
}

#b {
    background-color: gray;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

}

#head {
    background-color: #2a94d5;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.bottom-links:hover {
    border: none;
}

@media (min-width: 320px) {
    #skills {

    }

    .div-ul {
        width: 33.3%;

    }

    .h4-text {
        font-size: 15px;
    }

    .unordered {
        padding: 0;

    }

    .bq {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .skill-back {
        background-color: #ff6e5a;
        width: 100%;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
        opacity: .9;
        height: 150px;
    }

    .r {
        border: 1px solid black;
        height: 100%
    }
    .navb{
        background-color: #8c8c8c;
        height: auto;
        border-radius: 25px;

    }

.sum{
        border-radius: 25px;
    }

}

@media (min-width: 768px) {
    .skill-back {
        margin-right: 0;
        padding-right: 0;
    }

}







